{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Vacancium {% endblock %}
{% block content %}
<div class="row">
    <div class="col my-2"><h2 class="text-center">Поиск работы</h2></div>
</div>
<div class="row">
    <div class="col-md-6 my-2 mx-auto">
        <form action="{% url 'vacancies' %}" method="get">
            {{ form.title|as_crispy_field }}
            {{ form.city|as_crispy_field }}
            {{ form.date_from|as_crispy_field }}
            {{ form.date_to|as_crispy_field }}
            {{ form.company|as_crispy_field }}
            <div class="form-row">
                {{ form.title_search|as_crispy_field }}
                {{ form.remote|as_crispy_field }}
            </div>
            <div class="form-row">
                <div class="form-experience">
                    {{ form.salary_from|as_crispy_field }}
                    {{ form.experience|as_crispy_field }}
                </div>
                <div class="form-job_board">
                    {{ form.salary_to|as_crispy_field }}
                    {{ form.job_board|as_crispy_field }}
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'js/checkboxControl.js' %}"></script>
{% endblock %}
