{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col my-5"><h2 class="text-center">Сервис по сбору и рассылке вакансий</h2></div>
</div>
<div>
    <div class="my-5">
        <form action="{% url 'list' %}">
            <div>
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
</div>
{% endblock %}