{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<a name="top"></a>

{% block content %}

<div class="city-not-exists-messages">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <p class="danger-message">{{ message }}</p>                    
            {% endif %}
        {% endfor %}
    {% endif %}
</div>  

<div class="row justify-content-center">
    <div class="col-md-2 my-2">
        <form action="{% url 'list' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <div class="row justify-content-center">
                <div class="col btn-wrap">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </div>
            </div>
        </form>
    </div>

    
    <div class="col-md-10">
            <p class="scroll"><a href="#down"><i class="fa-sharp fa-solid fa-arrow-down"></i></a></p>
        {% for obj in object_list %}
        <div class="card my-3" id="delete-vacancy-{{forloop.counter}}">
            <h5 class="card-header bg-primary bg-opacity-10">
                <a class="text-decoration-none" href="{{ obj.url }}" target ="_blank">{{ obj.title }}</a>
            </h5>
            <div class="card-body">
                <p><span class="card-param">Вакансия с сайта:</span> <span class="card-value">{{ obj.job_board }}</span></p>
                
                <p>
                    {% if obj.salary_from %} <span class="card-param">Зарплата от</span>
                    <span class="card-value">{{obj.salary_from}}</span> {% endif %}
                    {% if obj.salary_to %} <span class="card-param">до</span> 
                    <span class="card-value">{{obj.salary_to}}</span>{% endif %}
                    {% if obj.salary_from or obj.salary_to %}
                    <span class="card-param">{{ obj.salary_currency }}</span>{% endif %}
                </p>

                {% if obj.job_board == 'SuperJob' %}
                <p><span class="card-param">Тип занятости: </span> <span class="card-value">{{ obj.type_of_work }}</span></p>
                <p><span class="card-param">Формат работы: </span> <span class="card-value">{{ obj.place_of_work }}</span></p>
                {% else %}
                <p><span class="card-param">Тип занятости: </span> <span class="card-value">{{ obj.type_of_work }}</span></p>
                {% endif %}

                {% if obj.experience %}
                    <p><span class="card-param">Опыт работы: </span> <span class="card-value">{{ obj.experience }}</span></p>
                {% endif %}

                <p class="card-text">
                    {% if obj.responsibility  %}
                    <span class="card-param">Обязанности:</span> {{ obj.responsibility|truncatechars:300 }}
                    {% endif %}
                </p>

                <p class="card-text">
                    {% if obj.requirement %}
                    <span class="card-param">Требования:</span> {{ obj.requirement|truncatechars:300 }}
                    {% endif %}
                </p>

                <p>
                    <span class="card-param">Город:</span>
                    <span class="card-value">{{ obj.city }}</span>
                    | <span class="card-param">Компания:</span>
                    <span class="card-value">{{ obj.company}}</span> 
                    | <span class="card-param">Дата публикации:</span>
                    <span class="card-value">{{ obj.published_at }}</span>
                </p>

                <div class="row favourite justify-content-end">
                    <div class="col-12 text-end">
                        {% if user.is_authenticated %}
                            <input 
                            type="checkbox"
                            class="btn-check black-list"
                            id="btn-check-delete-{{forloop.counter}}"
                            autocomplete="off"
                            onchange="addVacancyToBlackList('{{forloop.counter}}', '{{ obj.url }}')">

                            <label class="btn btn-outline-primary add-to-black-list" for="btn-check-delete-{{forloop.counter}}">
                                <i class="fa-solid fa-trash-can trash"></i>
                            </label>

                            <input {% for favourite in list_favourite %} {% if favourite.url == obj.url %}
                            checked
                            {% endif %}
                            {% endfor %}
                            type="checkbox"
                            class="btn-check favourite-list"
                            id="btn-check-outlined-{{forloop.counter}}"
                            autocomplete="off"
                            onchange="addToFavourite('{{forloop.counter}}', '{{ obj.url }}', '{{ obj.title }}')">

                            <label class="btn btn-outline-primary add-to-favourite" for="btn-check-outlined-{{forloop.counter}}">
                                <i class="fa-solid fa-heart heart"></i>
                            </label>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="text-center">
                <h3>К сожалению по Вашему запросу ничего не найдено</h3>
            </div>
        {% endfor %}

        {% if object_list %}
            <div class="row justify-content-center">
                <div class="col paginator-wrap">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination overflow-auto">
                            {% if object_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?city={{ city }}&job={{ job }}&date_from={{ date_from }}&date_to={{ date_to }}&experience={{ experience }}&title_search={{ title_search }}&remote={{ remote }}&page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page in object_list.paginator.page_range %}
                                <li class="page-item {% if page == object_list.number %} active {% endif %}">
                                    <a class="page-link" href="?city={{ city }}&job={{ job }}&date_from={{ date_from }}&date_to={{ date_to }}&experience={{ experience }}&title_search={{ title_search }}&remote={{ remote }}&page={{ page }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                            {% if object_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?city={{ city }}&job={{ job }}&date_from={{ date_from }}&date_to={{ date_to }}&experience={{ experience }}&title_search={{ title_search }}&remote={{ remote }}&page={{ object_list.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <a name="down"></a>
            <p class="scroll"><a href="#top"><i class="fa-solid fa-arrow-up"></i></a></p>
        {% endif %}
</div>
<script src="{% static '/js/favourite.js' %}"></script>
{% endblock %}