django

uvicorn
gunicorn

httpx

django-allauth

django-allauth-ui
django-widget-tweaks

python-dotenv

beautifulsoup4

Pillow

django-crispy-forms
crispy-bootstrap5

django-debug-toolbar

orjson

aiofiles

celery

redis

python-dateutil

django-shortcuts

black

ruff

mypy

psycopg2-binary

dj-database-url

pytest-django
pytest-asyncio
pytest-mock

scrapy
scrapy-splash
scrapy-djangoitem