{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="profile-messages">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <p class="danger-message">{{ message }}</p>                    
                {% else %}
                    <p class="success-message">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6 my-5 mx-auto">
            <h3 class="profile-user">{{ user }}</h3>
            <form action="{% url 'profiles:profile' request.user.username %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            {% for vacancy in favourite_vacancy %}
                <div class="card my-3" id="favourite-block-{{forloop.counter}}">
                    <div class="row favourite">
                        <div class="col-10">
                            <h5 class="card-header bg-primary bg-opacity-10">
                                <a class="text-decoration-none" href="{{ vacancy.url }}"> {{ vacancy.title }}</a>
                            </h5>
                        </div>
                        <div class="col-2 text-center my-auto">
                            {% if user.is_authenticated %}
                                <input {% for favourite in list_favourite %} {% if favourite.url == obj.url %}
                                checked
                                {% endif %}
                                {% endfor %}
                                type="checkbox"
                                class="btn-check favourite-list"
                                id="btn-check-outlined-{{forloop.counter}}"
                                autocomplete="off"
                                onclick="removeFavouriteFromProfile('{{ forloop.counter }}', '{{ vacancy.url }}')">
                                <label class="btn btn-outline-primary add-to-favourite my-auto" for="btn-check-outlined-{{forloop.counter}}">
                                    <i class="fa-solid fa-trash-can trash" style="color:red"></i>
                                </label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static '/js/remove_favourite_from_profile.js' %}"></script>
{% endblock %}
